flows.json
[{"id":"0d2dc99e56adc39c","type":"serial request","z":"646522690f45de27","name":"get data","serial":"690cf582d687f6aa","x":640,"y":200,"wires":[["94aa590459266ccc","fa18fc38a93d7ab2"]]},{"id":"35a3f7338403e0c2","type":"debug","z":"646522690f45de27","name":"payload","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":1040,"y":80,"wires":[]},{"id":"94aa590459266ccc","type":"debug","z":"646522690f45de27","name":"status","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"status","statusType":"auto","x":1030,"y":40,"wires":[]},{"id":"69340a71c3bc7c3a","type":"inject","z":"646522690f45de27","name":"Start Read","props":[],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":200,"wires":[["6ffd7c62ecec02d5"]]},{"id":"7cfc564286df487e","type":"buffer-parser","z":"646522690f45de27","name":"Adresse minus 5","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Version","offset":5,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Aussen","offset":13,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Aussen24h","offset":17,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-WW Soll","offset":37,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-WW Ist","offset":41,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-WQuelle-Ein","offset":53,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-WQuelle-Aus","offset":57,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Ruecklauf Soll","offset":25,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Ruecklauf Ist","offset":29,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Betriebsstunden Kompressor","offset":111,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Betriebsstunden Heizung","offset":115,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Betriebsstunden WW","offset":119,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"byte","name":"Heizungläuft","offset":223,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"byte","name":"WWläuft","offset":225,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Vorlauf Ist","offset":33,"length":1,"offsetbit":1,"scale":"1","mask":""},{"type":"byte","name":"heizläuft?","offset":222,"length":1,"offsetbit":1,"scale":"1","mask":""},{"type":"byte","name":"item17","offset":224,"length":1,"offsetbit":1,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":17,"x":710,"y":360,"wires":[["60a94de179f0d703","b665e38639465ab7"],["65f95b70c121780a"],["45189df6efd8efa4"],["640a69edea799f03"],["d7aa23a7c531f1ac"],["154e453efe1a8938"],["09c8914fcaff08ee"],["18c4b7f5e573925c"],["dd6d893950e23686"],["2276e79670808d9d"],["cb3241eeb86abb19"],["a91c66b5cad395d4"],[],[],["89094138bcb8c5fc"],[],[]]},{"id":"60a94de179f0d703","type":"debug","z":"646522690f45de27","name":"Version","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":860,"y":240,"wires":[]},{"id":"69e10b07817c8374","type":"inject","z":"646522690f45de27","name":"wakeup","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[65,84,32,16,2,1,21,0,0,0,4,16,3,203,155,3,16,2,1,21,0,48,0,4,16,3,203,157,226,136,154,16,2,1,21,0,52,0,4,16,3,125,195,170,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","payloadType":"bin","x":120,"y":120,"wires":[["8877315b76abcc54","e7c8be9fc854faec"]]},{"id":"0d04c79fd8709c12","type":"function","z":"646522690f45de27","name":"doppel 10 durch eine ersetzen","func":"// Funktion zum Ersetzen von zwei aufeinanderfolgenden Hex 10-Werten durch eine einzelne Hex 10\nfunction replaceConsecutiveHex10(buffer) {\n    let outputBuffer = Buffer.alloc(0);\n    for (let i = 0; i < buffer.length; i++) {\n        if (buffer[i] === 0x10 && buffer[i + 1] === 0x10) {\n            outputBuffer = Buffer.concat([outputBuffer, Buffer.from([0x10])]);\n            i++; // Überspringe das nächste Hex 10\n        } else {\n            outputBuffer = Buffer.concat([outputBuffer, Buffer.from([buffer[i]])]);\n        }\n    }\n    return outputBuffer;\n}\n\n// Anwenden der Funktion auf den Eingangs-Buffer und Senden des Ergebnisses\nlet outputBuffer = replaceConsecutiveHex10(msg.payload);\nmsg.payload = outputBuffer;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":80,"wires":[["eacff92f21d0cf98","35a3f7338403e0c2"]]},{"id":"eacff92f21d0cf98","type":"switch","z":"646522690f45de27","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"253","vt":"num"},{"t":"eq","v":"80","vt":"str"},{"t":"lt","v":"70","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":830,"y":80,"wires":[["7cfc564286df487e"],["68b2553c7afe4aa1"],["59399a6efe365a13"]]},{"id":"59399a6efe365a13","type":"debug","z":"646522690f45de27","name":"payload","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1040,"y":140,"wires":[]},{"id":"2f57f88df1eeb413","type":"comment","z":"646522690f45de27","name":"Protokoll","info":"https://github.com/mwllgr/fhem-waterkotte-resuemat-cd4","x":1280,"y":60,"wires":[]},{"id":"e7c8be9fc854faec","type":"change","z":"646522690f45de27","name":"Wakeup","rules":[{"t":"set","p":"payload","pt":"msg","to":"[65,84,32,16,2,1,21,0,0,0,4,16,3,203,155,3,16,2,1,21,0,48,0,4,16,3,203,157,226,136,154,16,2,1,21,0,52,0,4,16,3,125,195,170,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":80,"wires":[["0d2dc99e56adc39c"]]},{"id":"6f6649d68d8f156e","type":"change","z":"646522690f45de27","name":"WW60/55 Grad","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x01\",\"0x3b\",\"0x00\",\"0x00\",\"0x70\",\"0x42\",\"0x10\",\"0x03\",\"0xd0\",\"0x77\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":460,"wires":[["3654c6a0ffde1f3f","0d2dc99e56adc39c"]]},{"id":"3654c6a0ffde1f3f","type":"delay","z":"646522690f45de27","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":190,"y":520,"wires":[["7517cb90a5eededb"]]},{"id":"7517cb90a5eededb","type":"change","z":"646522690f45de27","name":"WW47 Grad","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x01\",\"0x3b\",\"0x00\",\"0x00\",\"0x3c\",\"0x42\",\"0x10\",\"0x03\",\"0x78\",\"0x71\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":500,"wires":[["0d2dc99e56adc39c"]]},{"id":"15395ab2f77d5ce7","type":"comment","z":"646522690f45de27","name":"Adressliste","info":"! Adresse Anzahl MenueEntry MenueName_de\n! 0x0000 0x0002 00.00 Versions-Nummer\n! 0x0002 0x0003 00.01 Versions-Datum\n! 0x0005 0x0003 00.02 Betriebs-Mode\n! 0x0008 0x0004 01.00 Temp-Aussen\n! 0x000C 0x0004 01.01 Temp-Aussen-24h\n! 0x0010 0x0004 01.02 Temp-Aussen-1h\n! 0x0014 0x0004 01.03 Temp-Ruecklauf Soll\n! 0x0018 0x0004 01.04 Temp-Ruecklauf\n! 0x001C 0x0004 01.05 Temp-Vorlauf\n! 0x0020 0x0004 01.06 Temp-WW Soll\n! 0x0024 0x0004 01.07 Temp-WW Ist\n! 0x0028 0x0004 01.08 Temp-Raum\n! 0x002C 0x0004 01.09 Temp-Raum-1h\n! 0x0030 0x0004 01.10 Temp-WQuelle-Ein\n! 0x0034 0x0004 01.11 Temp-WQuelle-Aus\n! 0x0038 0x0004 01.12 Temp-Verdampfer\n! 0x003C 0x0004 01.13 Temp-Kondensator\n! 0x0040 0x0004 01.14 Temp-Saugleitung\n! 0x0044 0x0004 01.15 Temp-frei\n! 0x0048 0x0004 01.16 Druck-Verdampfer\n! 0x004C 0x0004 01.17 Druck-Kondensator\n! 0x00F3 0x0001 02.00 Handabschaltung\n! 0x00F4 0x0004 02.01 Hzg Einsatzzeitpunkt Sollwert\n! 0x00F8 0x0004 02.02 Hzg Ruecklauf Sollwert am Einsatzp.\n! 0x00FC 0x0004 02.03 Kennline Steigung Soll\n! 0x0100 0x0004 02.04 Kennline Obere Begrenzung\n! 0x0050 0x0004 02.05 Hzg: Temp Ruecklauf Soll\n! 0x0054 0x0004 02.06 Hzg: Temp Ruecklauf Ist\n! 0x0104 0x0001 02.07 Sollwertanhebung 4k fuer 24 Stunden\n! 0x0105 0x0004 02.08 Pilotraum Sollwert\n! 0x0109 0x0001 02.09 Pilotraum Faktor\n! 0x010A 0x0004 02.10 Externe Anhebung\n! 0x010E 0x0003 02.11 Freigabe Heizung\n! 0x0111 0x0003 02.12 Sperren Heizung\n! 0x0114 0x0003 02.13 Sollwertaenderung Ein\n! 0x0117 0x0003 02.14 Sollwertaenderung Aus\n! 0x011A 0x0004 02.15 St. 2 Kl. Obere Begrenzung\n! 0x011E 0x0004 02.16 Kennlinie Hysterese\n! 0x0122 0x0001 02.17 Pumpen Nachlaufzeit\n! 0x0123 0x0001 03.00 Abschaltung\n! 0x0124 0x0004 03.01 Klg Einsatzzeitpunkt\n! 0x0128 0x0004 03.02 Ruecklauftemp. Sollwert am Einsatzzeitp.\n! 0x012C 0x0004 03.03 Klg Kennlinie Steigung Soll\n! 0x0130 0x0004 03.04 Kennlinie untere Begrenzung\n! 0x0058 0x0004 03.05 Klg: Temp Ruecklauf Soll\n! 0x005C 0x0004 03.06 Klg: Temp Ruecklauf Ist\n! 0x0134 0x0001 04.00 Abschaltung\n! 0x0135 0x0003 04.01 Zeit ein\n! 0x0138 0x0003 04.02 Zeit aus\n! 0x0060 0x0004 04.03 WW: Temp Ist\n! 0x013b 0x0004 04.04 Warmwasser Soll\n! 0x013F 0x0004 04.05 Beckenwasser Temperatur Soll\n! 0x0143 0x0004 04.06 Warmwasser Hysterese\n! 0x0147 0x0004 04.07 Beckenwasser Hysterese\n! 0x0064 0x0003 05.00 Uhrzeit\n! 0x0067 0x0003 05.01 Datum\n! 0x006A 0x0004 05.02 Betriebsstunden Kompressor\n! 0x006E 0x0004 05.03 Betriebsstunden Heizbetrieb\n! 0x0072 0x0004 05.04 Betriebsstunden Warmwasserbetrieb\n! 0x0076 0x0004 05.05 Betriebsstunden Stufe 2\n! 0x007A 0x0003 05.06 Messbeginn Zeit Kompressor\n! 0x007D 0x0003 05.07 Messbeginn Datum Kompressor\n! 0x0080 0x0003 05.08 Messbeginn Zeit Pumpen\n! 0x0083 0x0003 05.09 Messbeginn Datum Pumpen\n! 0x0086 0x0001 05.10 Betriebsstunden Reset Kompressor\n! 0x0087 0x0001 05.11 Betriebsstunden Reset Pumpen\n! 0x0088 0x0001 06.00 Kennwort\n! 0x0089 0x0001 06.01 Werkseinstellung\n! 0x014B 0x0001 06.02 Modem Klingelzeichen\n! 0x014C 0x0001 06.03 Fremdzugriff\n! 0x014D 0x0001 06.04 Schluesselnummer\n! 0x014E 0x0003 06.05 SetBetriebsMode\n! 0x008A 0x0001 06.06 Reset Waermepumpe\n! 0x0151 0x0001 06.07 Hzg: Externe Freigabe\n! 0x0152 0x0004 06.08 Hzg: Externe Ruecklaufsteuerung\n! 0x0156 0x0004 06.09 St2: TempQAus < Min\n! 0x015A 0x0004 06.10 St2: TempVerd < Min\n! 0x015E 0x0001 06.11 Estrich Aufheizen\n! 0x015F 0x0001 06.12 Hzg: Externe Steuerung\n! 0x0160 0x0001 06.13 St2 bei EVU Absch.\n! 0x0161 0x0001 06.14 Frg. Beckenwasser\n! 0x0162 0x0004 06.15 Scale Faktor\n! 0x0166 0x0004 06.16 Offset Niederdr.\n! 0x016A 0x0004 06.17 Offset Hochdr.\n! 0x016E 0x0001 06.18 DO-Handkanal\n! 0x016F 0x0001 06.19 DO-Handkanal Ein\n! 0x008B 0x0002 06.20 CRC-Summe\n! 0x0174 0x0001 06.21 Neu-Start\n! 0x0175 0x0001 06.22 Run-Flag\n! 0x008E 0x0002 06.23 Display Zeile 1\n! 0x0090 0x0001 06.24 Display Zeile 2\n! 0x0091 0x0003 07.00 Ausfall Zeit\n! 0x0094 0x0003 07.01 Ausfall Datum\n! 0x0097 0x0001 07.02 Ausfall Betriebszustaende\n! 0x0098 0x0001 07.03 Ausfall DO Buffer\n! 0x0099 0x0001 07.04 Ausfall DI Buffer\n! 0x009A 0x0001 07.05 Ausfall AI Error\n! 0x009B 0x0001 07.06 Ausfall AI DI\n! 0x009C 0x0004 07.07 Ausfall AI Temp Aussen\n! 0x00A0 0x0004 07.08 Ausfall AI Temp WQ Ein\n! 0x00A4 0x0004 07.09 Ausfall AI Temp WQ Aus\n! 0x00A8 0x0004 07.10 Ausfall AI Temp Verdampfer\n! 0x00AC 0x0004 07.11 Ausfall AI Temp Heizung Ein\n! 0x00B0 0x0004 07.12 Ausfall AI Temp Heizung Aus\n! 0x00B4 0x0004 07.13 Ausfall AI Temp Kondensation\n! 0x00B8 0x0004 07.14 Ausfall AI Temp Warmwasser\n! 0x00BC 0x0001 07.15 Ausfall Term AI Error\n! 0x00BD 0x0001 07.16 Ausfall Term AI Di\n! 0x00BE 0x0004 07.17 Ausfall AI Temp Raum\n! 0x00C2 0x0001 07.18 Clear Ausfälle\n! 0x00C3 0x0001 08.00 Unterbrechungen\n! 0x00C4 0x0001 08.01 Warnung Eingangsseite\n! 0x00C5 0x0001 08.02 Warnung Ausgangsseite\n! 0x00C6 0x0001 08.03 Warnung Sonstige\n! 0x00C7 0x0001 08.04 Ausfall\n! 0x00C8 0x0001 08.05 AI Error Fuehler Ausfall\n! 0x00C9 0x0001 08.06 AI Di Fuehler defekt\n! 0x00C9 0x0003 08.07 Kontrollwert fuer Fuehlerkalibrierung\n! 0x00CC 0x0001 08.08 Unterbrechung Raumfuehler\n! 0x00CD 0x0001 08.09 Kurzschluss Raumfuehler\n! 0x0171 0x0001 08.10 Unterbrechung Warung Eingangsseite\n! 0x0172 0x0001 08.11 Unterbrechung Warung Ausgangsseite\n! 0x0173 0x0001 08.12 Unterbrechung Warung Ausgangsseite\n! 0x00CE 0x0001 09.00 Betriebszustaende\n! 0x00CF 0x0001 09.01 DO-Buffer\n! 0x00D0 0x0001 09.02 DI-Buffer\n! 0x00D1 0x0003 09.03 Gesamtstatus\n! 0x00D4 0x0003 09.04 Status Verriegelung\n! 0x00D7 0x0003 09.05 Status Heizung\n! 0x00DF 0x0001 09.10 Mode Heizung\n! 0x00E0 0x0001 09.11 Mode Kuehlung\n! 0x00E1 0x0001 09.12 Mode Warmwasser\n! 0x0000 0x0001 10.00 Logger Zyklus\n! 0x0000 0x0001 10.01 Initialisierung des Loggers\n! 0x0000 0x0004 10.02 Speicherfehler des Loggers\n! 0x00E3 0x0003 10.03 Uhrzeit der Initialisierung\n! 0x00E6 0x0003 10.04 Datum der Initialisierung\n! 0x00E9 0x0002 10.05 Maximale Anzahl der Datensaetze\n! 0x00EB 0x0003 10.06 Laufende Nr. aktueller Datensatz\n! 0x00ED 0x0002 10.07 Anzahl gespeicherter Datensaetze\n! 0x00EF 0x0002 10.08 Groesse eines Datensatzes\n! 0x00F1 0x0002 10.09 Max Groesse das Datenspeicher","x":1420,"y":60,"wires":[]},{"id":"68b2553c7afe4aa1","type":"buffer-parser","z":"646522690f45de27","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"byte","name":"HZAbschaltung","offset":5,"length":1,"offsetbit":1,"scale":"1","mask":""},{"type":"byte","name":"WWAbschaltung","offset":70,"length":1,"offsetbit":1,"scale":"1","mask":""},{"type":"floatle","name":"HzSollTemp","offset":10,"length":1,"offsetbit":1,"scale":"1","mask":""},{"type":"floatle","name":"HzEinsatz","offset":6,"length":1,"offsetbit":1,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":4,"x":690,"y":540,"wires":[["56b11682c77bacfa"],["537d6bb3f570daa9"],["45b14cdd14587209"],["4851654066db0e78"]]},{"id":"b665e38639465ab7","type":"change","z":"646522690f45de27","name":"Part2","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x15\",\"0x00\",\"0xf3\",\"0x00\",\"0x46\",\"0x10\",\"0x03\",\"0xf3\",\"0x73\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["0d2dc99e56adc39c"]]},{"id":"17c576752f566c88","type":"change","z":"646522690f45de27","name":"Heizung ein","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x00\",\"0xf3\",\"0x00\",\"0x10\",\"0x03\",\"0x56\",\"0x72\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":300,"wires":[["0d2dc99e56adc39c"]]},{"id":"2c813c5aa394474a","type":"change","z":"646522690f45de27","name":"Heizung aus","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x00\",\"0xf3\",\"0x01\",\"0x10\",\"0x03\",\"0xd6\",\"0x77\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["0d2dc99e56adc39c"]]},{"id":"5d878f887edd90e2","type":"change","z":"646522690f45de27","name":"WW ein","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x01\",\"0x34\",\"0x00\",\"0x10\",\"0x03\",\"0x44\",\"0x69\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[[]]},{"id":"709ee3acef0564f3","type":"change","z":"646522690f45de27","name":"WW aus","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x01\",\"0x34\",\"0x01\",\"0x10\",\"0x03\",\"0xc4\",\"0x6c\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[[]]},{"id":"6c9465776a4bbb21","type":"change","z":"646522690f45de27","name":"WW ein","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x01\",\"0x34\",\"0x00\",\"0x10\",\"0x03\",\"0x44\",\"0x69\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[["0d2dc99e56adc39c"]]},{"id":"1e247c1dbba5b4b2","type":"change","z":"646522690f45de27","name":"WW aus","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x01\",\"0x34\",\"0x01\",\"0x10\",\"0x03\",\"0xc4\",\"0x6c\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[["0d2dc99e56adc39c"]]},{"id":"8877315b76abcc54","type":"delay","z":"646522690f45de27","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":240,"wires":[["7517cb90a5eededb"]]},{"id":"5ae4929125407767","type":"change","z":"646522690f45de27","name":"Heizung 21 Grad","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x00\",\"0xf8\",\"0x00\",\"0x00\",\"0xa8\",\"0x41\",\"0x10\",\"0x03\",\"0x5a\",\"0xf9\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":540,"wires":[["0d2dc99e56adc39c"]]},{"id":"3a01c57184e364b0","type":"change","z":"646522690f45de27","name":"Heizung 22 Grad","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x00\",\"0xf8\",\"0x00\",\"0x00\",\"0xb0\",\"0x41\",\"0x10\",\"0x03\",\"0x0a\",\"0xf9\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":580,"wires":[["0d2dc99e56adc39c"]]},{"id":"50c012104ab23bfc","type":"change","z":"646522690f45de27","name":"Heizung 23 Grad","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x00\",\"0xf8\",\"0x00\",\"0x00\",\"0xb8\",\"0x41\",\"0x10\",\"0x03\",\"0xba\",\"0xfa\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":620,"wires":[["0d2dc99e56adc39c"]]},{"id":"e21f9ad2008656b1","type":"change","z":"646522690f45de27","name":"Heizung 24 Grad","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x00\",\"0xf8\",\"0x00\",\"0x00\",\"0xc0\",\"0x41\",\"0x10\",\"0x03\",\"0x2a\",\"0xff\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":660,"wires":[["0d2dc99e56adc39c"]]},{"id":"953d6c1f9c8249f1","type":"switch","z":"646522690f45de27","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":510,"y":860,"wires":[["5ae4929125407767"],["3a01c57184e364b0"],["50c012104ab23bfc"],["e21f9ad2008656b1"]]},{"id":"6ffd7c62ecec02d5","type":"change","z":"646522690f45de27","name":"Read Part 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0x10\",\"0x02\",\"0x01\",\"0x15\",\"0x00\",\"0x00\",\"0x00\",\"0xf3\",\"0x10\",\"0x03\",\"0x7C\",\"0x32\"]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["0d2dc99e56adc39c"]]},{"id":"74d9f7d01d172aee","type":"inject","z":"646522690f45de27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":640,"wires":[["50c012104ab23bfc"]]},{"id":"53921341b7972a01","type":"inject","z":"646522690f45de27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":580,"wires":[["5ae4929125407767"]]},{"id":"fa18fc38a93d7ab2","type":"switch","z":"646522690f45de27","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":140,"wires":[["0d04c79fd8709c12"],[]]},{"id":"a5b333ca6475db88","type":"switch","z":"646522690f45de27","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3001","vt":"num"},{"t":"btwn","v":"3000","vt":"num","v2":"1000","v2t":"num"},{"t":"lt","v":"1000","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1030,"y":740,"wires":[["f1bd04eed9cc4974"],["700af16250ca8021"],["5e1b0b4ae8704630"]]},{"id":"5e1b0b4ae8704630","type":"change","z":"646522690f45de27","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":800,"wires":[["700af16250ca8021","f1bd04eed9cc4974"]]},{"id":"56b31f4448b4c09b","type":"change","z":"646522690f45de27","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":680,"wires":[["700af16250ca8021"]]},{"id":"04d7cc85991620b4","type":"server-state-changed","z":"646522690f45de27","name":"Heizung sleep?","server":"77f235a2.d6e4c4","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.heizung_temperatur_rucklauf_soll","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"unknown","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"30","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":20,"wires":[["e7c8be9fc854faec"],[]]},{"id":"2beae9c983db8cbb","type":"server-state-changed","z":"646522690f45de27","name":"","server":"77f235a2.d6e4c4","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.heizung_ww_soll","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"55","ifStateType":"num","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"30","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":700,"wires":[["7517cb90a5eededb"],[]]},{"id":"8f82e13f7a68074c","type":"server-state-changed","z":"646522690f45de27","name":"","server":"77f235a2.d6e4c4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.zaehler1_total_system_power","entityIdType":"exact","outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":710,"y":740,"wires":[["a5b333ca6475db88"]]},{"id":"00fe26fee6eabc59","type":"server-state-changed","z":"646522690f45de27","name":"","server":"77f235a2.d6e4c4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_select.heizungs_einstellung","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":760,"wires":[["953d6c1f9c8249f1"]]},{"id":"700af16250ca8021","type":"ha-binary-sensor","z":"646522690f45de27","name":"Heizung läuft","entityConfig":"08d57f5254b27c52","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1230,"y":740,"wires":[[]]},{"id":"f1bd04eed9cc4974","type":"ha-binary-sensor","z":"646522690f45de27","name":"WW läuft","entityConfig":"90d12860632310f7","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1100,"y":680,"wires":[["56b31f4448b4c09b"]]},{"id":"56b11682c77bacfa","type":"ha-binary-sensor","z":"646522690f45de27","name":"HeizungAbschaltung","entityConfig":"12dc906c6496795b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1040,"y":520,"wires":[[]]},{"id":"537d6bb3f570daa9","type":"ha-binary-sensor","z":"646522690f45de27","name":"WWAbschaltung","entityConfig":"f78f5049d8579dd8","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1030,"y":560,"wires":[[]]},{"id":"ede5cb539da73a03","type":"ha-button","z":"646522690f45de27","name":"WWAufheizen","version":0,"debugenabled":false,"outputs":1,"entityConfig":"fc6c925e72854b13","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":130,"y":460,"wires":[["6f6649d68d8f156e"]]},{"id":"aba4548470b9fb30","type":"ha-button","z":"646522690f45de27","name":"","version":0,"debugenabled":false,"outputs":1,"entityConfig":"135c3fdd707bc645","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":130,"y":300,"wires":[["17c576752f566c88"]]},{"id":"24c8b3b43996a878","type":"ha-button","z":"646522690f45de27","name":"","version":0,"debugenabled":false,"outputs":1,"entityConfig":"add487f5fae3bdc5","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":130,"y":340,"wires":[["2c813c5aa394474a"]]},{"id":"9f1fed58960f6741","type":"ha-button","z":"646522690f45de27","name":"","version":0,"debugenabled":false,"outputs":1,"entityConfig":"1a23f8adfb7da143","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":130,"y":380,"wires":[["6c9465776a4bbb21"]]},{"id":"c3dc68b3bacaf5b5","type":"ha-button","z":"646522690f45de27","name":"","version":0,"debugenabled":false,"outputs":1,"entityConfig":"a1d4561a7defa9ac","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":130,"y":420,"wires":[["1e247c1dbba5b4b2"]]},{"id":"01222bd83ca8f7e7","type":"ha-button","z":"646522690f45de27","name":"Hz21Grad","version":0,"debugenabled":false,"outputs":1,"entityConfig":"59cc9a101e82aa78","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":140,"y":540,"wires":[["5ae4929125407767"]]},{"id":"797fd4cb2f1d85d5","type":"ha-button","z":"646522690f45de27","name":"Hz22Grad","version":0,"debugenabled":false,"outputs":1,"entityConfig":"1a8dbb2de2709590","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":120,"y":600,"wires":[["3a01c57184e364b0"]]},{"id":"fc367f563e5b30be","type":"ha-button","z":"646522690f45de27","name":"Hz24Grad","version":0,"debugenabled":false,"outputs":1,"entityConfig":"54c464b6da8f3e13","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":120,"y":660,"wires":[["e21f9ad2008656b1"]]},{"id":"65f95b70c121780a","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Aussen","entityConfig":"4130a6f71c9ed385","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1030,"y":200,"wires":[[]]},{"id":"45189df6efd8efa4","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Aussen 24h","entityConfig":"4f2ff1b78c86806e","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1270,"y":200,"wires":[[]]},{"id":"640a69edea799f03","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur WW Soll","entityConfig":"bad3f0312f60723b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1040,"y":260,"wires":[[]]},{"id":"d7aa23a7c531f1ac","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur WW Ist","entityConfig":"8092504d32e09ae4","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1250,"y":260,"wires":[[]]},{"id":"154e453efe1a8938","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur WQuelle Ein","entityConfig":"e0af6c7e655ecb0e","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1050,"y":320,"wires":[[]]},{"id":"09c8914fcaff08ee","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur WQuelle Aus","entityConfig":"290b86f94cd4b102","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1290,"y":320,"wires":[[]]},{"id":"18c4b7f5e573925c","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Rücklauf Soll","entityConfig":"100d4d2e806eb6e7","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1550,"y":380,"wires":[[]]},{"id":"dd6d893950e23686","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Rücklauf Ist","entityConfig":"f97adacb2443c90d","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1290,"y":380,"wires":[[]]},{"id":"2276e79670808d9d","type":"ha-sensor","z":"646522690f45de27","name":"Betriebsstunden Kompressor","entityConfig":"dac7547e92f59e73","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1060,"y":440,"wires":[[]]},{"id":"cb3241eeb86abb19","type":"ha-sensor","z":"646522690f45de27","name":"Betriebsstunden Heizung","entityConfig":"6bf7dc1e8e9570ef","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1590,"y":440,"wires":[[]]},{"id":"a91c66b5cad395d4","type":"ha-sensor","z":"646522690f45de27","name":"Betriebsstunden Warmwasser","entityConfig":"05f0ccaa4fc0536c","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1330,"y":440,"wires":[[]]},{"id":"89094138bcb8c5fc","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Vorlauf Ist","entityConfig":"67219fc8d842b0cf","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1300,"y":520,"wires":[[]]},{"id":"45b14cdd14587209","type":"ha-sensor","z":"646522690f45de27","name":"HeizungSollTemperatur","entityConfig":"298d196fdd0630ec","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":890,"y":600,"wires":[[]]},{"id":"4851654066db0e78","type":"ha-sensor","z":"646522690f45de27","name":"HeizungEinsatzTemp","entityConfig":"19bdb27bb2d5d361","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1040,"y":640,"wires":[[]]},{"id":"690cf582d687f6aa","type":"serial-port","serialport":"/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00-port0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"10000","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"77f235a2.d6e4c4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"08d57f5254b27c52","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Heizung läuft"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"heat"}],"resend":false,"debugEnabled":false},{"id":"90d12860632310f7","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"WW läuft"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"heat"}],"resend":false,"debugEnabled":false},{"id":"12dc906c6496795b","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"HeizungAbschaltung"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f78f5049d8579dd8","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"WWAbschaltung"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"fc6c925e72854b13","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"WWAufheizen"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"135c3fdd707bc645","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"HeizungEinschalten"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"add487f5fae3bdc5","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"HeizungAusschalten"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"1a23f8adfb7da143","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"WWEinschalten"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"a1d4561a7defa9ac","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"WWAuschalten"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"59cc9a101e82aa78","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Hz21Grad"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"1a8dbb2de2709590","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Hz22Grad"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"54c464b6da8f3e13","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Hz24Grad"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"4130a6f71c9ed385","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"Heizung Temperatur Aussen","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Aussen"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"4f2ff1b78c86806e","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Aussen 24h"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"bad3f0312f60723b","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung WW Soll"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"8092504d32e09ae4","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung WW Ist"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"e0af6c7e655ecb0e","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung WQuelle Ein"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"290b86f94cd4b102","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur WQuelle Aus"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"100d4d2e806eb6e7","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Rücklauf Soll"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f97adacb2443c90d","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Rücklauf Ist"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"dac7547e92f59e73","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Betriebsstunden Kompressor"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"6bf7dc1e8e9570ef","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Betriebsstunden Heizung"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"05f0ccaa4fc0536c","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Betriebsstunden Warmwasser"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"67219fc8d842b0cf","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"Heizung Temperatur Vorlauf Ist","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Vorlauf Ist"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"298d196fdd0630ec","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"HeizungSollTemperatur"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"19bdb27bb2d5d361","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"HeizungEinsatzTemp"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false}]