flows.json
[{"id":"646522690f45de27","type":"tab","label":"Heizung","disabled":false,"info":"","env":[]},{"id":"0d2dc99e56adc39c","type":"serial request","z":"646522690f45de27","name":"get data","serial":"690cf582d687f6aa","x":320,"y":140,"wires":[["35a3f7338403e0c2","94aa590459266ccc","0d04c79fd8709c12"]]},{"id":"35a3f7338403e0c2","type":"debug","z":"646522690f45de27","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":500,"y":180,"wires":[]},{"id":"94aa590459266ccc","type":"debug","z":"646522690f45de27","name":"status","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"status","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"12f96108bb043433","type":"serial in","z":"646522690f45de27","d":true,"name":"","serial":"690cf582d687f6aa","x":480,"y":240,"wires":[["35a3f7338403e0c2"]]},{"id":"69340a71c3bc7c3a","type":"inject","z":"646522690f45de27","name":"Read RAW Data","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x10\",\"0x02\",\"0x01\",\"0x15\",\"0x00\",\"0x00\",\"0x00\",\"0xf3\",\"0x10\",\"0x03\",\"0x7C\",\"0x32\"]","payloadType":"bin","x":130,"y":120,"wires":[["0d2dc99e56adc39c"]]},{"id":"7cfc564286df487e","type":"buffer-parser","z":"646522690f45de27","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Version","offset":5,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Aussen","offset":13,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Aussen24h","offset":17,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-WW Soll","offset":37,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-WW Ist","offset":41,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-WQuelle-Ein","offset":53,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-WQuelle-Aus","offset":57,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Ruecklauf Soll","offset":25,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Ruecklauf Ist","offset":29,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Betriebsstunden Kompressor","offset":111,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Betriebsstunden Heizung","offset":115,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Betriebsstunden WW","offset":119,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"byte","name":"Heizungläuft","offset":224,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"byte","name":"WWläuft","offset":226,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"Temp-Vorlauf Ist","offset":33,"length":1,"offsetbit":1,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":15,"x":130,"y":500,"wires":[["60a94de179f0d703"],["65f95b70c121780a"],["45189df6efd8efa4"],["640a69edea799f03"],["d7aa23a7c531f1ac"],["154e453efe1a8938"],["09c8914fcaff08ee"],["18c4b7f5e573925c"],["dd6d893950e23686"],["2276e79670808d9d"],["cb3241eeb86abb19"],["a91c66b5cad395d4"],["700af16250ca8021"],["f1bd04eed9cc4974"],["89094138bcb8c5fc"]]},{"id":"60a94de179f0d703","type":"debug","z":"646522690f45de27","name":"Version","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":340,"y":300,"wires":[]},{"id":"65f95b70c121780a","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Aussen","entityConfig":"4130a6f71c9ed385","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":530,"y":340,"wires":[[]]},{"id":"45189df6efd8efa4","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Aussen 24h","entityConfig":"4f2ff1b78c86806e","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":380,"wires":[[]]},{"id":"640a69edea799f03","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur WW Soll","entityConfig":"bad3f0312f60723b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":540,"y":420,"wires":[[]]},{"id":"d7aa23a7c531f1ac","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur WW Ist","entityConfig":"8092504d32e09ae4","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":730,"y":460,"wires":[[]]},{"id":"154e453efe1a8938","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur WQuelle Ein","entityConfig":"e0af6c7e655ecb0e","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":550,"y":500,"wires":[[]]},{"id":"09c8914fcaff08ee","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur WQuelle Aus","entityConfig":"290b86f94cd4b102","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":620,"wires":[[]]},{"id":"700af16250ca8021","type":"ha-binary-sensor","z":"646522690f45de27","name":"Heizung läuft","entityConfig":"08d57f5254b27c52","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":310,"y":780,"wires":[[]]},{"id":"f1bd04eed9cc4974","type":"ha-binary-sensor","z":"646522690f45de27","name":"WW läuft","entityConfig":"90d12860632310f7","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":300,"y":720,"wires":[[]]},{"id":"18c4b7f5e573925c","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Rücklauf Soll","entityConfig":"100d4d2e806eb6e7","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":540,"wires":[[]]},{"id":"dd6d893950e23686","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Rücklauf Ist","entityConfig":"f97adacb2443c90d","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":550,"y":580,"wires":[[]]},{"id":"2276e79670808d9d","type":"ha-sensor","z":"646522690f45de27","name":"Betriebsstunden Kompressor","entityConfig":"dac7547e92f59e73","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":660,"y":840,"wires":[[]]},{"id":"cb3241eeb86abb19","type":"ha-sensor","z":"646522690f45de27","name":"Betriebsstunden Heizung","entityConfig":"6bf7dc1e8e9570ef","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":650,"y":780,"wires":[[]]},{"id":"a91c66b5cad395d4","type":"ha-sensor","z":"646522690f45de27","name":"Betriebsstunden Warmwasser","entityConfig":"05f0ccaa4fc0536c","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":670,"y":740,"wires":[[]]},{"id":"89094138bcb8c5fc","type":"ha-sensor","z":"646522690f45de27","name":"Temperatur Vorlauf Ist","entityConfig":"67219fc8d842b0cf","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":540,"y":660,"wires":[[]]},{"id":"a970b910d6af3598","type":"serial out","z":"646522690f45de27","name":"","serial":"690cf582d687f6aa","x":500,"y":40,"wires":[]},{"id":"69e10b07817c8374","type":"inject","z":"646522690f45de27","name":"wakeup","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[65,84,32,16,2,1,21,0,0,0,4,16,3,203,155,3,16,2,1,21,0,48,0,4,16,3,203,157,226,136,154,16,2,1,21,0,52,0,4,16,3,125,195,170,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","payloadType":"bin","x":120,"y":40,"wires":[["a970b910d6af3598","0d2dc99e56adc39c"]]},{"id":"f7a8fee092b0b4ce","type":"inject","z":"646522690f45de27","name":"WW 60 grad","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x01\",\"0x3b\",\"0x00\",\"0x00\",\"0x70\",\"0x42\",\"0x10\",\"0x03\",\"0xd0\",\"0x77\"]","payloadType":"bin","x":110,"y":160,"wires":[["0d2dc99e56adc39c"]]},{"id":"0d04c79fd8709c12","type":"function","z":"646522690f45de27","name":"doppel 10 durch eine ersetzen","func":"// Funktion zum Ersetzen von zwei aufeinanderfolgenden Hex 10-Werten durch eine einzelne Hex 10\nfunction replaceConsecutiveHex10(buffer) {\n    let outputBuffer = Buffer.alloc(0);\n    for (let i = 0; i < buffer.length; i++) {\n        if (buffer[i] === 0x10 && buffer[i + 1] === 0x10) {\n            outputBuffer = Buffer.concat([outputBuffer, Buffer.from([0x10])]);\n            i++; // Überspringe das nächste Hex 10\n        } else {\n            outputBuffer = Buffer.concat([outputBuffer, Buffer.from([buffer[i]])]);\n        }\n    }\n    return outputBuffer;\n}\n\n// Anwenden der Funktion auf den Eingangs-Buffer und Senden des Ergebnisses\nlet outputBuffer = replaceConsecutiveHex10(msg.payload);\nmsg.payload = outputBuffer;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":140,"wires":[["eacff92f21d0cf98"]]},{"id":"e7d24b3afde7bb9c","type":"inject","z":"646522690f45de27","name":"WW 47 grad","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x10\",\"0x02\",\"0x01\",\"0x13\",\"0x01\",\"0x2f\",\"0x00\",\"0x00\",\"0x34\",\"0x42\",\"0x10\",\"0x03\",\"0xce\",\"0x12\"]","payloadType":"bin","x":110,"y":200,"wires":[["0d2dc99e56adc39c"]]},{"id":"eacff92f21d0cf98","type":"switch","z":"646522690f45de27","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"253","vt":"num"},{"t":"neq","v":"253","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":280,"wires":[["7cfc564286df487e"],["59399a6efe365a13"]]},{"id":"59399a6efe365a13","type":"debug","z":"646522690f45de27","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":680,"y":280,"wires":[]},{"id":"690cf582d687f6aa","type":"serial-port","serialport":"/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00-port0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"10000","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"4130a6f71c9ed385","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"Heizung Temperatur Aussen","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Aussen"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"4f2ff1b78c86806e","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Aussen 24h"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"bad3f0312f60723b","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung WW Soll"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"8092504d32e09ae4","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung WW Ist"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"e0af6c7e655ecb0e","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung WQuelle Ein"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"290b86f94cd4b102","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur WQuelle Aus"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"08d57f5254b27c52","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Heizung läuft"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"heat"}],"resend":false,"debugEnabled":false},{"id":"90d12860632310f7","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"WW läuft"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"heat"}],"resend":false,"debugEnabled":false},{"id":"100d4d2e806eb6e7","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Rücklauf Soll"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f97adacb2443c90d","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Rücklauf Ist"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"dac7547e92f59e73","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Betriebsstunden Kompressor"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"6bf7dc1e8e9570ef","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Betriebsstunden Heizung"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"05f0ccaa4fc0536c","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Betriebsstunden Warmwasser"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"67219fc8d842b0cf","type":"ha-entity-config","server":"77f235a2.d6e4c4","deviceConfig":"","name":"Heizung Temperatur Vorlauf Ist","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Heizung Temperatur Vorlauf Ist"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"77f235a2.d6e4c4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]